/* Chakra Petch font */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Red Hat Text font */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

/* Shadows Into Light font */
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

/* OSLO font */
@font-face
{
    font-family: 'OSLO';
    src: url('fonts/oslo/Oslo.woff') format('woff'),
    url('fonts/oslo/Oslo.ttf') format('truetype'),
    url('fonts/oslo/Oslo.svg') format('svg');
}

/* OSLO 2 font */
@font-face
{
    font-family: 'OSLO 2';
    src: url('fonts/oslo-ii/OsloII.woff') format('woff'),
    url('fonts/oslo-ii/OsloII.ttf') format('truetype'),
    url('fonts/oslo-ii/OsloII.svg') format('svg');
}

/* Zector font */
@font-face
{
    font-family: 'Zector';
    src: url('fonts/zector/Zector.woff') format('woff'),
    url('fonts/zector/Zector.ttf') format('ttf'),
    url('fonts/zector/Zector.svg') format('svg');
}
