@import url('msp_fonts.css');

/* General styles */
*
{
    margin: 0;
    padding: 0;
    font-family: 'Zector', monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    background-color: #121216;
    color: white;
}

p, a
{
    font-size: 1.56em;
}

h1, h2, h3, h4, h5, h6
{
    margin: 0;
    padding-top: 3px;
    padding-bottom: 3px;
    font-family: 'OSLO 2', monospace;
    font-weight: 600;
}

h1
{
    font-size: 3.6em;
}

h2
{
    font-size: 3.3em;
}

h3
{
    font-size: 2.9em;
}

h4
{
    font-size: 2.6em;
}

h5
{
    font-size: 2.3em;
}

hr
{
    margin: 0;
    padding: 0;
    border-top: 2px dotted #3a3a4f;
    border-bottom: none;
    border-radius: 5px;
}

/* General class styles */
.box
{
    margin: 10px auto;
    border: 3px solid #bbbbbb;
    border-radius: 10px;
}

header, footer
{
    position: fixed;
    background-color: #16161b;
}

/* Header styles */
header
{
    position: fixed;
    z-index: 100;
    flex-grow: 1;
    display: inline-flex;
    flex-direction: row;
    top: 0;
    height: 60px;
    width: 100%;
    padding: 0;
    border-bottom: 2px dotted #3a3a4f;
}

header nav
{
    position: absolute;
    height: 100%;
    right: 0;
    padding-right: 18px;
    justify-content: right;
    background-color: transparent;
}

header nav ul
{
    position: relative;
    top: 16px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: inherit;
}

header nav ul li
{
    float: left;
    min-width: 160px;
    background-color: inherit;
}

header nav ul li a
{
    display: block;
    padding: 4px 4px;
    margin: auto;
    background-color: inherit;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    font-style: italic;
}

header nav ul li a:hover
{
    text-decoration: 1px dotted underline white;
    background: repeating-linear-gradient(
            315deg,
            #28282f,
            #28282f 4px,
            #16161b 4px,
            #16161b 8px
    );
    transition: background-color 0.3s ease-out;
}

header nav ul li a#active
{
    text-shadow: 3px 3px 2px red, -3px -3px 2px purple;
}

#logo
{
    position: relative;
    height: 100%;
    margin: 0;
    padding-right: 10px;
    font-weight: 550;
    font-size: 56px;
    background-color: inherit;
    text-decoration: none;
    overflow: visible;
}

/* Main section styles */
main
{
    position: relative;
    height: 100%;
    width: 100%;
    top: 63px;
    bottom: 204px;
    margin: 0;
    padding: 0;
}

/* Article styles */
article
{
    position: relative;
    z-index: 75;
    min-height: 100px;
    height: 100%;
    width: 100%;
    margin-top: 3px;
    margin-bottom: 5px;
    justify-content: center;
}

/* Footer styles */
footer
{
    position: relative;
    bottom: 0;
    height: 200px;
    width: 100%;
    background: linear-gradient(
            #121216,
            #18181f
    );
    /*border-top: 2px dotted #3a3a4f;*/
    text-align: center;

}

#copyright
{
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 15px;
    font-style: italic;
    background-color: inherit;
    color: grey;
}